{% extends 'base.html' %} {% block body %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Email Finder</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                        <li class="breadcrumb-item active">Email Finder</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-auto" style="margin: 10px;">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert" id="inside_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&nbsp;<span aria-hidden="true">x</span></button>
                        {{message}}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                </div>
                                <div class="p-2 mt-4">
                                    <form action="/email_finder" method="POST" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <input type="email" name="email" class="form-control" id="email" placeholder="* Enter email" required>
                                        </div><br>
                                        <p>* File Link</p>
                                        <div class="mb-3">
                                            <input type="file" name="resume_link" class="form-control" id="resume_link" autocomplete="off" required>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <input type="submit" name="signin" id="signin" class="form-submit btn btn-success w-100" value="Submit Data"/>
                                        </div>
                                    </form><br>
                                    <a href="/sample_file"><p class="btn btn-outline-danger w-100" style="margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Sample file</p></a>
                                    <center><p onclick="openLink()" class="btn btn-outline-primary w-100" style="margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">View logs</p></center>
                                    <center><a href="download_output"><p class="btn btn-outline-success w-100" style="margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Download Predictive Files</p></a></center>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                    </div>
                </div>


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Jay Kakadiya.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Jay kakadiya
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

{% endblock %}
