<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Bulk Sharing Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        button.enabled {
            background-color: green;
        }

        button.disabled {
            background-color: red;
        }
    </style>
</head>

<body style="margin: 0px; padding: 0px;" background="wallpaper2you_35824.jpg">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" style="margin-top: 50px; padding: 0px; margin-bottom: 50px; border: 1px solid #333;">
                <div class="header m-0" style="height: 100px; box-sizing: border-box;">
                    <center>
                        <h1 style="padding: 20px; padding-left: 0px; padding-right: 0px; margin: 0px; font-size: 50px; background-color: #3572A5; color:#fff;">Facebook Bulk Sharing Tool</h1>
                    </center>
                </div>
                <div class="row" style="margin: 0px; height: 50px; box-sizing: border-box;">
                    <div class="col-4 m-0 p-0">
                        <center>
                            <h3 style="color: #fff; margin:0px; font-size: 15px; background-color: #333; padding: 10px; margin: 0px;">Software by: Arsh Maan</h3>
                        </center>
                    </div>
                    <div class="col-8 m-0 p-0">
                        <center>
                            <h3 style="color: #fff; margin:0px; font-size: 15px; background-color: #333; padding: 10px; margin: 0px;">Whatsapp Contact = +9196770500040, www.arshmaan.net</h3>
                        </center>
                    </div>
                </div>
                <div class="mainbodypart" style="min-height: 425px; box-sizing: border-box; padding-top: 50px;">
                    <div class="homemenu">
                        <center><a href="/"><button class="btn btn-primary">home</button></a></center>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <button id="toggleButton" class="enabled">Proxy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto" style="margin: 10px;">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert" id="inside_alert">
                            <button type="button" onclick="remove()" class="close" data-dismiss="alert" aria-label="close">&nbsp;<span aria-hidden="true">X</span></button>
                            {{message}}
                        </div>
                        {% endfor %} {% endif %} {% endwith %}
                    </div>
                    <center>
                        <a href="/login_facebook"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Login Facebook</span></a>
                        <a href="/create_browser_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Create Browsers</span></a>
                        <a href="/open_browser_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Open Browsers</span></a><br>
                        <a href="/join_group_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Join Bulk Group</span></a>
                        <a href="/leave_group_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Leave Bulk Groups</span></a>
                        <a href="/like_post_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Like Bulk Posts</span></a><br>
                        <a href="/create_post_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Bulk Post Sharing</span></a>
                        <a href="/comment_post_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Bulk Comments</span></a>
                        <a href="/accept_requests_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Accept Requests</span></a><br>
                        <a href="/cancel_requets_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Cancel Requests</span></a>
                        <a href="/schedual_sharing"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Schedule Sharing</span></a>
                        <a href="/send_requests_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Send Requests</span></a><br>
                        <a href="/edit_proxy_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Edit Proxy</span></a>
                        <a href="/change_location_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Change Location</span></a>
                        <a href="/exit_main"><span style="width: 200px; color: #fff; display: inline-block; background-color: #3572A5; padding: 10px 30px; margin: 10px; box-sizing: border-box;">Exit</span></a><br>
                    </center>
                </div>
                <div class="row" style="height: 50px; box-sizing: border-box;">
                    <div class="col-6 m-0">
                        <h3 style="color: #000; margin:0px; font-size: 15px; text-align: left; padding: 10px; margin: 0px;"><center><b>Licence:</b>
                            <span style="color: green;">Activated</span></center></h3>
                    </div>
                    <div class="col-6 m-0">
                        <h3 style="color: #000; margin:0px; font-size: 15px; text-align: right; padding: 10px; margin: 0px;"><center><b>Status:</b>
                            <span style="color: green;">ON</span></center></h3>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>
        function remove() {
            location.reload();
        }

        const toggleButton = document.getElementById('toggleButton');

        // Get the current state from local storage, defaulting to "enabled"
        let isEnabled = localStorage.getItem('toggleButton') !== 'disabled';

        // Set the initial state of the button based on the current state
        if (isEnabled) {
            toggleButton.classList.add('enabled');
        } else {
            toggleButton.classList.add('disabled');
        }

        // Add an event listener to toggle the button state and save it to local storage
        toggleButton.addEventListener('click', function() {
            isEnabled = !isEnabled;
            if (isEnabled) {
                toggleButton.classList.remove('disabled');
                toggleButton.classList.add('enabled');
                localStorage.setItem('toggleButton', 'enabled');
                fetch('http://127.0.0.1:64333/start_proxy')
                    .then(response => response.json())
                    .then(data => console.log(data));
            } else {
                toggleButton.classList.remove('enabled');
                toggleButton.classList.add('disabled');
                localStorage.setItem('toggleButton', 'disabled');
                fetch('http://127.0.0.1:64333/stop_proxy')
                    .then(response => response.json())
                    .then(data => console.log(data));
            }
        });
    </script>
</body>

</html>
